name: Python Selenium Web& API Tests

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Tests (Headless Mode)
      run: |
        # Usamos o argumento --headless que configuramos no conftest.py
        pytest --headless --html=results/report.html --self-contained-html

    - name: Upload Test Report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: pytest-report
        path: results/report.html

    - name: Upload Evidences
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: test-evidences
        path: evidence/